* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

html, body {
    height: 100%;
}

#wrapper2-div {
    width: 90%;
    margin-left: 10%;
    background-color: #f7f2e5;
    padding-bottom: 100px; 
    position: relative;
    min-height: 100vh; 
}

.sidebar {
    width: 10%;
    background-color: #b8b7b5;
    text-align: center;
    position: absolute;
    height: 174.1%;
    line-height: 100%;
    padding-top: 5%;
	height:166.3%;
}

#main2-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f2e5;
    padding: 0 2%;
    height: 70px; 
}

#IntroTextArea-div {
    width: 100%;
    padding: 10px 20px;
    background-color: #818180;
    text-align: center;
    font-size: small;
    line-height: 2.0;
    margin-top: 5%;
}

#logo-div {
    height: 100%;
    display: flex;
    align-items: center;
}

#nav-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    text-align: right;
    font-size: 15px;
    color: rgb(226, 155, 155);
}

#nav-div a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 50px; 
}

#nav-div a:hover {
    text-decoration: underline; 
}

a:link {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#header-div {
    width: 100%;
    height: 330px;
}

#header-div img {
    width: 100%;
    height: 110%;
    object-fit: fill;
}

#header2-div img {
    width: 100%;
    height: 110%;
    object-fit: fill;
}

h3 {
    color: rgb(255, 255, 255);
}

#main-div {
    display: flex;
    justify-content: center;
    padding: 20px 0; 
}

.image-box {
    width: 32%;
    text-align: center;
    object-fit: contain;
}

.image-box img {
    margin-top: 10%;
    margin-bottom: 10%;
    object-fit: fill;
}

#footer-div {
    width: 100%;
    min-height: 100px;
    background-color: #E51131;
    text-align: center;
    padding: 10px 0;
    line-height: 20px;
    font-size: small;
    position: absolute; 
    bottom: 0;
}

#footer-div img {
    width: 100px;
    height: 80px;
    object-fit: fill;
}

.parts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    margin: 20px 0;
}

.parts-item {
    width: calc(25% - 20px); 
    text-align: center;
}

.parts-item img {
    width: 100%;
    height: auto; 
    max-height: 200px; 
    object-fit: cover;
}

.parts-info {
    background-color: #f7f2e5;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.parts-info .button4 {
    display: inline-block;
    margin-top: 10px;
}

.button4 a {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 5px 10px;
    border-radius: 5px;
}
